flows/Asset_Warranty_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>extendWarranty</name>
        <label>extendWarranty</label>
        <locationX>782</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>donr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>extendAssetWarranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Extend_Warranty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>extendWarranty2</targetReference>
            </connector>
            <label>extendAssetWarranty</label>
        </rules>
    </decisions>
    <interviewLabel>Asset_Warranty New {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Asset_Warranty New</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>1091</locationX>
        <locationY>72</locationY>
        <assignRecordIdToReference>caseId</assignRecordIdToReference>
        <connector>
            <targetReference>getCreatedCase</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetValues2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>AssetValues2.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAsset</name>
        <label>getAsset</label>
        <locationX>550</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Enter_asset</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetValues2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>PurchaseDate</queriedFields>
        <queriedFields>WarrantyF__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCreatedCase</name>
        <label>getCreatedCase</label>
        <locationX>1199</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>finalScreen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>cNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>donr</name>
        <label>donr</label>
        <locationX>707</locationX>
        <locationY>251</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dp233</name>
            <fieldText>&lt;p&gt;Your {!AssetValues2.Name} warranty is upto date &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>extendWarranty2</name>
        <label>extendWarranty</label>
        <locationX>958</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
        <fields>
            <name>dp4</name>
            <fieldText>&lt;p&gt;Enter the details to create a case  to extend warranty &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Extend Asset Warranty</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalScreen</name>
        <label>finalScreen</label>
        <locationX>614</locationX>
        <locationY>96</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>extendWarranty</targetReference>
        </connector>
        <fields>
            <name>dp23</name>
            <fieldText>&lt;p&gt;Below are the details about your Asset&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>finalRecord</name>
            <fieldText>&lt;p&gt;Name : {!AssetValues2.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Install date : {!AssetValues2.InstallDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Purchase date : {!AssetValues2.PurchaseDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warranty Status {!AssetValues2.WarrantyF__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Extend_Warranty</name>
            <dataType>Boolean</dataType>
            <fieldText>Extend Warranty</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>finalScreen1</name>
        <label>finalScreen</label>
        <locationX>1105</locationX>
        <locationY>403</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dpFinal</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Thank you!!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your case&lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!cNumber} has successfully  has been created &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Our agent will contact you soon ..&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>getAssetSerialNumber</name>
        <label>getAssetSerialNumber</label>
        <locationX>352</locationX>
        <locationY>166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getAsset</targetReference>
        </connector>
        <fields>
            <name>Enter_asset</name>
            <dataType>String</dataType>
            <fieldText>Enter the Asset Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>getAssetSerialNumber</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>assetValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetValues2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>warrantyStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
